{% load static %}

<div class="container w-75 text-center">
  <template id="editHTML">{% include 'icons/edit.html' %}</template> 
  <template id="deleteHTML">{% include 'icons/delete.html' %}</template> 
  <table class="table table-fixed mt-2">
    <thead>
      <tr><th colspan=4>
        <a href="{% url 'room:new_exit' game.pk %}" class="card-link">+ New Room Connection</a>
      </th></tr>

      <tr><th colspan=2>Connection Between</th><th>Is Locked?</th><th>Actions</th></tr>
    </thead>
    <tbody id="exitTableBody" data-game-id="{{ game.pk }}"></tbody>
  </table>
</div>