{% extends "base.html" %}


{% block page_title %}
  {% if editing %}
    Dialogue Editor
  {% else %}
    {{ friend.name }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="container">
  {% if is_alternative_starting_point %}
    <p style="font-weight:bold" class="text-center">
      *The currently active starting point for the dialogue tree will be set to hidden if this is not hidden.*
    </p>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <table class="table">
      {% if parent_option %}
        <tr>
          <th>Response to</th>
          <td>{{ parent_option.text|truncatechars:50 }}
        </tr>
        <tr>
          <th>Talking Point</th>
          <td>{{ form.talking_point }} {{ form.talking_point.errors.as_text }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>Text</th>
        <td>{{ form.text }} {{ form.text.errors.as_text }}</td>
      </tr>
      <tr>
        <th>Can back out of dialogue option</th>
        <td class="text-center">{{ form.can_back_out }} {{ form.can_back_out.errors.as_text }}</td>
      </tr>
      <tr>
        <th>Starts Hidden (revealed when an item is given to the friend)</th>
        <td class="text-center">{{ form.is_hidden }} {{ form.is_hidden.errors.as_text }}</td>
      </tr>
      <tr>
        <th colspan=2 class="text-center">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
          <button type="submit" class="btn btn-primary">
            {% if editing %}Update{% else %}Add{% endif %}
          </button>
        </th>
      </tr>
    </table>
  </form>
</div>

{% endblock %}