{% extends "base.html" %}


{% block page_title %}{{ friend.name }}{% endblock %}

{% block content %}
<div class="container text-center">
  <table class="table">
    <thead><tr><th colspan=2>Details</th></tr></thead>
    <tr>
      <th width=50%>Accepted Names</th>
      <td>{{ friend.accepted_names }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ friend.description }}</td>
    </tr>
    <tr>
      <th>In Room Description</th>
      <td>{{ friend.in_room_description }}</td>
    </tr>
    <tr>
      <th>Room</th>
      <td>{{ friend.room.name }}</td>
    </tr>
    <tr>
      <th>dialogue</th>
      <td><a href="{% url 'npc:dialogue_list' friend.pk %}">View dialogue</a></td>
    </tr>
  </table>
</div>

{% endblock %}