{% extends "base.html" %}


{% block page_title %}
  {% if editing %}
    Exit Editor
  {% else %}
    {{ game.name }}
  {% endif %}
{% endblock %}

{% block content %}

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <table class="table table-fixed">
      <tr>
        <th>{{ form.room_1 }} {{ form.room_1.errors.as_text }}</th>
        <th class="text-center">&lt;-&gt;</th>
        <th>{{ form.room_2 }} {{ form.room_2.errors.as_text }}</th>
      </tr>
    </table>
    <table class="table table-fixed">
      <tr>
        <th>Is Locked</th>
        <td class="text-center">
          {{ form.is_locked }}
          {{ form.is_locked.errors.as_text }}
        </td>
      </tr>
      <tr class="hideable-row" checkboxId="id_is_locked">
        <th>Unlocked By</th>
        <td>
          {{ form.key_required }}
          {{ form.key_required.errors.as_text }}
        </td>
      </tr>
      <tr>
        <th colspan=2 class="text-center">
          <button type="submit" class="btn btn-primary">
            {% if editing %}Save{% else %}Create{% endif %}
          </button>
        </th>
      </tr>
    </table>
  </form>
</div>

{% endblock %}

{% block footer %}

  <script>
    function showRelevantRows(isLocked) {
      const $rows = $('.hideable-row');
      if (isLocked) {

        // Show only the rows that match the item-type attribute
        $rows.filter('[checkboxId="id_is_locked"]').show();
      } else {
        // Hide everything first
        $rows.hide();
      }
    }

    $(document).ready(function() {
      isLocked = $('#id_is_locked').prop("checked");
      console.log("woah", isLocked);
      showRelevantRows(isLocked);
      $('#id_is_locked').on('change', function() {
        console.log("wahoo!");
        isLocked = $(this).prop("checked");
        console.log("ah", isLocked);
        showRelevantRows(isLocked);
      });
    });
  </script>

{% endblock %}