{% extends "base.html" %}

{% block page_title %}{{ game.name }}{% endblock %}

{% block content %}

<div class="container">
  <div class="card-group">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rooms</h5>
          <a href="{% url 'room:new' game.pk %}" class="card-link">+ New Room</a>
        </div>
        <ul class="list-group list-group-flush">
            {% for room in game.rooms.base %}
              <li class="list-group-item">
                <table class="table table-sm m-0">
                <tr>
                  <td class="w-100 border-0">{{ room.name }}</td>
                  <td
                    class="border-0"
                    data-bs-toggle="popover"
                    data-bs-trigger="hover focus"
                    data-bs-placement="top"
                    data-bs-content="{% if room.pk == game.start_room.pk %}this is the starting room{% else %}set the starting room{% endif %}"
                  >
                    {% if room.pk == game.start_room.pk %}
                        {% include "icons/set_start_room.html" %}
                    {% else %}
                      <a href="{% url 'room:set_starting' room.pk %}">
                        {% include "icons/set_start_room.html" %}
                      </a>
                    {% endif %}
                  </td>
                  <td class="border-0">
                    <a href="{% url 'room:edit' room.pk %}">
                      {% include "icons/edit.html" %}
                    </a>
                  </td>
                  <td class="border-0">
                    <a href="{% url 'room:delete' room.pk %}">
                      {% include "icons/delete.html" %}
                    </a>
                  </td>
                </tr>
                </table>
              </li>
            {% endfor %}
        </ul>
      </div>
      <div class="card mt-1">
        <div class="card-body">
          <h5 class="card-title">End States</h5>
          <a href="{% url 'game:new_end_state' game.pk %}" class="card-link">+ New End State</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for state in game.end_states.base %}
            <li class="list-group-item">
              <table class="table table-borderless table-sm m-0">
                <tr>
                  <td class="border-0">{{ state.name }}</td>
                  <td class="border-0">
                    <a href="{% url 'game:edit_end_state' state.pk %}">
                      {% include "icons/edit.html" %}
                    </a>
                  </td>
                  <td class="border-0"><a href="{% url 'game:delete_end_state' state.pk %}">
                      {% include "icons/delete.html" %}
                  </a></td>
                </tr>
              </table>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Exits</h5>
          <a href="{% url 'room:new_exit' game.pk %}" class="card-link">+ New Exit</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for exit in exits %}
            <li class="list-group-item">
              <table class="table table-borderless table-sm m-0">
                <tr>
                  <td class="w-100 border-0">
                    {{ exit.room_1.name }} &lt;-&gt; {{ exit.room_2.name }}
                  </td>
                  <td class="border-0">
                    <a href="{% url 'room:edit_exit' game_pk=game.pk exit_pk=exit.pk %}">
                      {% include "icons/edit.html" %}
                    </a>
                  </td>
                  <td class="border-0"><a href="{% url 'room:delete_exit' exit.pk %}">
                      {% include "icons/delete.html" %}
                  </a></td>
                </tr>
              </table>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Items</h5>
          <a href="{% url 'item:new' game.pk %}" class="card-link">+ New Item</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for item in game.items.base %}
            <li class="list-group-item">
              <table class="table table-borderless table-sm m-0">
                <tr>
                  <td
                    class="w-100 border-0"
                    data-bs-toggle="popover"
                    data-bs-trigger="hover focus"
                    data-bs-placement="left"
                    data-bs-content="{% if item.is_starting_item %}Starting Item{% elif item.room %}Item is found in {{ item.room.name }}{% else %}Item is hidden in {{ item.contained_within.name }}{% endif %}"
                  >
                    {{ item.name }}
                  </td>
                  <td class="border-0">
                    <a href="{% url 'item:edit' item.pk %}">
                      {% include "icons/edit.html" %}
                    </a>
                  </td>
                  <td class="border-0"><a href="{% url 'item:delete' item.pk %}">
                      {% include "icons/delete.html" %}
                  </a></td>
                </tr>
              </table>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Friends</h5>
          <a href="{% url 'npc:new_friend' game.pk %}" class="card-link">+ New Friend</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for friend in game.friends.base %}
            <li class="list-group-item">
              <table class="table table-borderless table-sm m-0">
                <tr>
                  <td
                    class="w-100 border-0"
                  >
                    <a href="{% url 'npc:friend' friend.pk %}">
                      {{ friend.name }}
                    </a>
                  </td>
                  <td class="border-0">
                    <a href="{% url 'npc:edit_friend' friend.pk %}">
                      {% include "icons/edit.html" %}
                    </a>
                  </td>
                  <td class="border-0"><a href="{% url 'npc:delete_friend' friend.pk %}">
                      {% include "icons/delete.html" %}
                  </a></td>
                </tr>
              </table>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Enemies</h5>
          <a href="{% url 'npc:new_enemy' game.pk %}" class="card-link">+ New Enemy</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for enemy in game.enemies.base %}
            <li class="list-group-item">
              <table class="table table-borderless table-sm m-0">
                <tr>
                  <td
                    class="w-100 border-0"
                  >
                    <a href="{% url 'npc:enemy' enemy.pk %}">
                      {{ enemy.name }}
                    </a>
                  </td>
                  <td class="border-0">
                    <a href="{% url 'npc:edit_enemy' enemy.pk %}">
                      {% include "icons/edit.html" %}
                    </a>
                  </td>
                  <td class="border-0"><a href="{% url 'npc:delete_enemy' enemy.pk %}">
                      {% include "icons/delete.html" %}
                  </a></td>
                </tr>
              </table>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>

{% endblock %}